* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #020A18;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: sans-serif;
}

.container {
    max-width: 1146px;
    margin: 0 auto;
}

.header {
    margin-bottom: 160px;
}

.main {
    padding-bottom: 99px;
}

.header-link {
    text-decoration: none;
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    padding: 40px;
}

.nav {
    display: flex;
    justify-content: center;
}

.top-content {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 197px;
}

.subtitle {
    color:  #3A68B8;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; 
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color:  #FFF;
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}

.desc {
    color:  #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */ 
    opacity: 0.7;
    margin-bottom: 50px;
}

.left,.right {
    min-height: 415px;
}

.left {
    /* width: 50%; */
    max-width: 604px;
    padding-left: 20px;
}

.right {
    /* width: 45%; */
    max-width: 414px;
}

.button-link {
    padding: 1rem 2rem;
    background-color: #3A68B8;
    border-radius: 5px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 20px;
    border: 3px solid transparent;
}

.button-link:hover {
    color: #3A68B8;
    background-color: #fff;
    border: 3px solid #3A68B8;
}

.logo {
    margin-left: 10px;
}

.logo1, .logo2, .logo3 {
    margin-right: 68px;
}

.logo, .logo_1, .logo_2 {
    display: flex;
    justify-content: space-between;
}

/* -------------------------------- */

.top-ai {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 157px;
}

.left-ai {
    margin-right: 68px;
    min-height: 548px;
    max-width: 594px;
}

.right-ai {
    min-height: 548px;
    max-width: 484px;
}

.title-ai {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.desc-ai {
    width: 460px;
    font-size: 16px;
    margin-bottom: 50px;
}

.aside {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    /* justify-content: center; */
    justify-content: start;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item {
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item-1 {
    max-width: 362px;
    min-height: 389px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%
}

.item__text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 160%; */
    line-height: 26px;
}

.text {
    min-height: 492px;
    max-width: 548px;
}

.picture {
    min-height: 492px;
    max-width: 573px;
    /* max-width: 55%; */
}

.title-txt {
    width: 548px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-right: 25px;
}

.desc-txt {
    width: 460px;
    font-size: 16px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 113px;
}

.side {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 25px;
    margin-left: 20px;
    padding-bottom: 221px;
}

.footer {
    margin-top: 48px;
    margin-bottom: 46px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.title-footer {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 33px;
}

.text-footer {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.text-foot {
    width: 261px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
}
.foot {
    width: 362px;
}

.footer {
    padding-left: 20px;
}

.txt {
    padding-bottom: 24px;
}

.footer-link {
    display: flex;
    flex-direction: row;
}

.img_a {
    padding-right: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .top-flex, .logo-flex {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    .left {
        padding-bottom: 128px;
    }

    .logo1, .logo3 {
        margin-right: 32px;
    }

    .logo2 {
        margin-right: 0;
    }

    .logo_1 {
        padding-bottom: 32px;
    }

    .top-ai-flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .left-ai {
        margin-right: 0;
        margin-bottom: 68px;
    }

    .right-ai {
        min-height: 314px;
    }

    .aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .item {
        padding: 0;
    }

    .item-2 {
        display: none;
    }

    .side-flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px;
    }
    
    .footer-flex {
        flex-wrap: wrap;
        gap: 32px;
        padding-left: 20px;
        padding-right: 40px;
    }

    .foot {
        max-width: 46%;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {


}
