* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.bar {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

.be {
    color: #F25822;
}

.menu__link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link-home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

.title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtitle {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
}

.video__txt {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822; 
}

.button__link {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menubar {
    margin-top: 40px;
    margin-bottom: 84px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.menu {
    padding-left: 486px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.heading {
    margin-bottom: 162px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 41px;
}

.homemeta {
    width: 522px;
}

.title {
    margin-bottom: 17px;
}

.subtitle {
    width: 466px;
    margin-bottom: 37px;
}

.buttonmeta {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 72px;
}

.brandlogo {
    margin-top: 97px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;
}